body {
    background-color: #fcfbfa;
    background-image: url(../images/background-lines-blue.png);
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 1100px;
    width: 100%;
    overflow: scroll;
    color: #111111;
    margin: 0 auto;
    padding: 0%;
    letter-spacing: 2px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 300;

}

#logo-image {
    height: 20vw;
    width: auto;
    padding: 5px;
    margin-left: 5px;
}

/*Banner - beadcrumb CSS*/

ul.breadcrumb {
    width: 95%;
    padding: 2vw 0 3vw 5%;
    list-style: none;
    background-color: #305932;
}

ul.breadcrumb li {
    display: inline;
    font-size: 3.5vw;
    color: #fcfbfa;
}

ul.breadcrumb li+li:before {
    color: #fcfbfa;
    content: "/\00a0";
}

ul.breadcrumb li a {
    color: #fcfbfa;
    text-decoration: none;
    font-size: 4.5vw;
}

ul.breadcrumb li a:hover {
    color: #fcfbfa;
    text-decoration: underline;
}

/*Task box CSS*/
.task-box-parent {
    width: 99%;
    height: 40vw;
    margin: 1vw auto;
    display: inline-block;
}

.task-box {
    display: inline-block;
}

.task-image-box {
    width: 32%;
    height: 29vw;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

/* Tasks-box images*/
.task-image-box,
#guinness-image {
    background-image: url(../images/guinness-task-image.webp);
}

.task-image-box,
#gummies-image {
    background-image: url(../images/woman-eating-gummies.webp);
}

.task-text-box {
    width: 67%;
    height: 29vw;
    background: #fcfbfa;
    display: block;
    float: right;
}

.text-box {
    width: 96%;
    height: 13vw;
    position: relative;
    top: 6vw;
    left: 2vw;
    font-size: 4vw;
    font-weight: 600;
}

.point-box {
    width: 50%;
    height: 6vw;
    position: relative;
    top: 7vw;
    left: 2vw;
    font-size: 4vw;
    font-weight: 400;
}

.points-size {
    font-size: 5vw;
    font-weight: 700;
}

.fa-circle-chevron-right {
    color: #34495E;
    position: relative;
    font-size: 5vw;
    top: 3vw;
    left: 70%;
}

.task-box-timer {
    width: 100%;
    height: 10.5vw;
    background: green;
}


/*main-banner-css*/

#task-main-banner {
    width: 99%;
    height: 45vw;
    margin: 0 auto;
    background-image: url(../images/banner-lights.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.9;
    display: inline-block;
}

.main-banner-box {
    display: inline-block;
}

#banner-box-text {
    width: 100%;
    height: 20vw;
    background-color: rgba(6, 5, 5, 0.804);
    position: relative;
    top: 10%;
}

#greeting-text {
    background: transparent;
    color: #fafafa;
    font-weight: 200;
    font-size: 4.5vw;
    text-align: center;
    vertical-align: middle;
}

.form-box {
    width: 100%;
    display: inline-block;
    position: relative;
    top: 25%;
    left: 17%;
}

.text-input {
    width: 45%;
    height: 5vw;
    resize: none;
    overflow: auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2vw;
    padding-left: 1vw;

}

.text-input:hover {
    border-color: #305932;
    border-width: 3px;
}

.text-input:focus {
    background-color: white;
}

#start-button {
    width: 15%;
    height: 5.5vw;
    border-radius: 2px;
    text-align: center;
    font-size: 2vw;
    background-color: #305932;
    color: #fafafa;

}

#start-button:hover {
    background-color: #fafafa;
    color: #305932;
    font-weight: 600;
}

/*Task 'Number Input Form' CSS*/

.task-points {
    width: 95%;
    height: 7vw;
    font-size: 5vw;
    text-decoration: underline;
    text-align: right;
    vertical-align: middle;
    padding-bottom: 3vw;
}

.task-point-value {
    font-weight: 600;
    color: #a80038;
}

.task-image {
    width: 100%;
    height: 66vw;
    margin: 0 auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#guinness-task-image {
    background-image: url(../images/guinness-full-photo.webp);
}

#vitamin-task-image {
    background-image: url(../images/gummies-image.webp);
}

.task-subtitle {
    width: 96%;
    padding: 1vw;
    text-align: center;
    font-size: 3.5vw;
    margin-bottom: 8vw;
}

.question-box {
    width: 100%;
    margin-bottom: 4vw;
}

.var1 {
    display: inline-block;
    vertical-align: middle;
}

.number-input-label {
    width: 70%;
    height: auto;
    font-size: 3vw;
    font-weight: 400;
    position: relative;
    left: 6%;
}

.number-input {
    width: 10%;
    height: 4.5vw;
    font-size: 2.5vw;
    padding-left: 1vw;
    position: relative;
    left: 10%;
}

.send-button {
    width: 20%;
    height: 5vw;
    margin: 0 auto;
    margin-top: 8vw;
    border-radius: 2px;
    padding: 10px auto;
    text-align: center;
    font-size: 3vw;
    background-color: #305932;
    color: #fafafa;
    display: block;
}

.send-button:hover {
    background-color: #fafafa;
    color: #305932;
    font-weight: 600;
}

.filler {
    width: 100%;
    height: 4rem;
    clear: both;
    background-color: transparent;
}

/*Task 'Radio Input Form' CSS*/

.radio-question-box {
    width: 100%;
    margin-bottom: 4vw;
}

.var2 {
    display: inline-block;
    vertical-align: middle;
}

.radio-input {
    width: 3vw;
    height: 3vw;
    position: relative;
    left: 15%;
}

.radio-label {
    width: 50%;
    height: 4vw;
    font-size: 3vw;
    position: relative;
    left: 15%;
}

.radio-image {
    width: 30vw;
    height: 30vw;
    background-color: #fafafa;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    left: 2%;
}

#vitamin1-image {
    background-image: url(../images/acw1-image.jpg);
}

#vitamin2-image {
    background-image: url(../images/acw2-image.jpg);
}

#vitamin3-image {
    background-image: url(../images/acw3-image.jpg);
}

#vitamin4-image {
    background-image: url(../images/acw4-image.jpg);
}

#vitamin5-image {
    background-image: url(../images/acw5-image.jpg);
}

/* Count-down clock */

#timer-box {
    width: 100%;
    height: 5vw;
    position: relative;
    top: 25%;
}

#clockdiv {
    display: none;
    width: 100%;
    height: 5vw;
    background-color: #34495E;
    font-size: 3vw;
    font-weight: 300;
    color: #fafafa;
    text-align: center;
    margin: 0 auto;
    
}


 /*My Chart*/

 #guinness-price-charts, #myChart2 {
     width: 100%;
     height: 50vw;
     max-width: 85;
     margin: 0 auto;
 }

.price-charts {
    width: 50%;
    height: 50vw;
    max-width: 85;
    margin: 0 auto;
    display: inline-block;
}

#link-gummies {
    width: 100%;
    height: 10vw;
    
}

 .task-links {
     display: inline-block;
     width: 30%;
     height: 6vw;
     border-radius: 4px;
     text-decoration-color: none;
     color: #fafafa;
     background-color: #305932;
     font-size: 4vw;
     text-align: center;
     margin-top: 7vw;
    }
 
.task-links a {
    color: #fcfbfa;
    text-decoration: none;
    
}


.button-left {
    position: relative;
    float: left;
    margin-left: 5vw;
    text-decoration: none;
    color: #a80038;
}

.button-right {
    position: relative;
    float: right;
    margin-right: 5vw;
}

/*Vitamins photo container in CHART*/
 

#vitamin-container {
    width: 100%;
    height: 32vw;
    display: inline-block;
}

.chart-vitamins {
    width: 19.5%;
    height: 32vw;
    background-color: #fafafa;
    display: inline-block;
}

.chart-vitamin-photo {
    width: 80%;
    height: 20vw;
    margin: 0 auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.chart-vitamin-text {
    text-align: center;
    font-size: 2.5vw;
    font-weight: 600;
}

#vit1 {
    background-image: url(../images/acw1-image.jpg);
}
#vit2 {
    background-image: url(../images/acw2-image.jpg);
}
#vit3 {
    background-image: url(../images/acw3-image.jpg);
}
#vit4 {
    background-image: url(../images/acw4-image.jpg);
}
#vit5 {
    background-image: url(../images/acw5-image.jpg);
}


.filler {
    width: 100%;
    height: 4rem;
    clear: both;
    background-color: transparent;
}
